.SideDrawer {
  position: fixed;
  z-index: 200;
  background-color: #fff;
  height: 100%;
  width: 17.5rem;
  min-width: 70%;
  padding: 2rem 1rem;
  left: 0;
  top: 0;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
